part2/2.dtd

<?xml version="1.0" encoding="utf-8" ?>
<!ELEMENT aribal (competencies)>
<!ELEMENT competencies (competency+)>
<!ELEMENT competency (technology*)>
<!ELEMENT technology EMPTY>
<!ATTLIST competency in CDATA #REQUIRED>
<!ATTLIST competency level CDATA #REQUIRED>
<!ATTLIST competency experience CDATA #IMPLIED>
<!ATTLIST technology name CDATA #REQUIRED>
