part3/3.dtd

<?xml version="1.0" encoding="utf-8" ?>
        <!ELEMENT statistics (visits,ips)>
        <!ELEMENT visits (stationary, mobile)>
        <!ELEMENT stationary (platform*)>
        <!ELEMENT mobile (platform*)>
        <!ELEMENT platform (#PCDATA)>
        <!ATTLIST platform name CDATA #REQUIRED>
        <!ELEMENT ips (ip+)>
        <!ELEMENT ip EMPTY>
        <!ATTLIST ip addr CDATA #REQUIRED>
        <!ATTLIST ip frequency CDATA #REQUIRED>